body{
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

button{
    width: 500px;
}

@media (max-width: 499px) {
    body{
        width: 250px;
    }
    
    button {
        width: 250px;
    }   
    object , #CV {
        display: none;
    }

}

@media (orientation: landscape) and (max-height : 500px){
    object , #CV {
        display: none;
    }
}