body{
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

button{
    width: 500px;
}

@media (max-width: 499px) {
    body{
        margin: auto;
        width: 250px;
        display: flex;
        flex-direction: column;
    }
    
    button {
        width: 250px;
    }   
    object , #CV {
        display :none
    }

}