body{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3{
    font-size: 1.2rem;
}
section{
    margin-bottom: 1rem;
}

button{
    width: 500px;
}

button:hover{
    background-color: black;
    color: white;
}

@media (max-width: 550px) {
    body{
        width: 250px;
    }   
    button {
        width: 250px;
    }   
    object , #CV {
        display: none;
    }

}

@media (orientation: landscape) and (max-height : 500px){
    object , #CV {
        display: none;
    }
}